{% extends "base.html.twig" %}

{% block title %}API{% endblock %}

{% block body %}
    <h1>API</h1>
    <p>Nedan kan du hitta samtliga länker gällande kortleken.</p>
    <ul>
        <li>
            <a href="{{ path("quote") }}">api/quote</a>
        </li>
        <li>
            <a href="{{ path("json_deck") }}">api/deck</a>
        </li>
        <form method="POST", action="">
            <li>
                <input type="submit" name="shuffle" value="POST api/deck/shuffle"
                    onclick="this.form.action='{{ path('json_shuffle') }}';">
            </li>
            <li>
                <input type="submit" name="shuffle" value="POST api/deck/draw"
                    onclick="this.form.action='{{ path('json_draw') }}';">
            </li>
            <li>
                <input type="submit" name="shuffle" value="POST api/deck/draw/:number"
                    onclick="this.form.action='{{ path('json_draw_many', {number:3}) }}';">
            </li>
        </form>
        <li>
            <a href="{{ path("game_api") }}">api/game</a>
        </li>
    </ul>
{% endblock %}