{% extends "base.html.twig" %}

{% block title %}API{% endblock %}

{% block body %}
    <h1>API</h1>
    <p>Nedan kan du hitta samtliga länker för webbsidans API</p>
    <ul>
        <li>
            <a href="{{ path("quote") }}">api/quote</a>
        </li>
        <li>
            <a href="{{ path("json_deck") }}">api/deck</a>
        </li>
        <li>
            <a href="{{ path("game_api") }}">api/game</a>
        </li>
        <li>
            <a href="{{ path("json_book") }}">api/library/books</a>
        </li>
        <li>
            <a href="{{ path("json_one_book", {isbn:1234567890}) }}">api/library/book/:isbn</a>
        </li>
        <form class="api-form" method="POST", action="">
            <li>
                <input type="submit" name="shuffle" value="POST api/deck/shuffle"
                    onclick="this.form.action='{{ path('json_shuffle') }}';">
            </li>
            <li>
                <input type="submit" name="shuffle" value="POST api/deck/draw"
                    onclick="this.form.action='{{ path('json_draw') }}';">
            </li>
            <li>
                <input type="submit" name="shuffle" value="POST api/deck/draw/:number"
                    onclick="this.form.action='{{ path('json_draw', {number:3}) }}';">
            </li>
        </form>
    </ul>
{% endblock %}