<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ asset("css/style.css") }}"/>
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
       
    </head>
    <body>
        <nav class="main-nav">
            <a class="logo" href="{{ url("home") }}">MVC</a> 
            <div class="container">
                <ul class="links">
                    <li><a href="{{ path("report") }}">Redovisning</a></li>
                    <li><a href="{{ path("card") }}">Kort</a></li>
                    <li><a href="{{ path("game_index") }}">Game</a></li>
                    <li><a href="{{ path("api") }}">API</a></li>
                    <li><a href="{{ path("library_index") }}">Bibliotek</a></li>
                    <li><a href="{{ path("metrics") }}">Metrics</a></li>
                    <li><a href="{{ path("project_index") }}">Projekt</a></li>
                    <li><a href="{{ path("about") }}">Om</a></li>
                </ul>
            </div>
        </nav>
        <article>
            {% block body %}{% endblock %}
        </article>
    </body>
    <footer>
        <p>gusu20 @VT23</p>
    </footer>
</html>
