{% extends "base.html.twig" %}

{% block title %}Böker{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Böker i registret</h1>
    <a href="{{ path("add_book") }}">Lägg till bok</a>
    <table>
        <tr>
            <th></th>
            <th>ISBN</th>
            <th>Titel</th>
            <th>Författare</th>
            <th>Cover</th>
        </tr>
        {% for book in books %}
            <tr>
                <td><a href="{{path("update_book_form", {'id': book.id}) }}">Redigera</a> | <a href="{{path("delete_book_confirm", {'id': book.id})}}">Radera</a></td>
                <td>{{book.isbn}}</td>
                <td><a href="{{path("book_detail", {'id': book.id}) }}">{{book.title}}</a></td>
                <td>{{book.author}}</td>
                <td>{{book.cover}}</td>
            </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}