{% extends "base.html.twig" %}

{% block body %}
<nav class="project-nav">
    <a href="{{ url("project_index") }}">Hem</a> | <a href="{{ url("project_game") }}">Spelet</a> | <a href="{{ path("project_about") }}">Om</a>
</nav>
<h1>{{ title }}</h1>
{% if gameover == false %}
    <h2>Runda: {{ round }}</h2>
{% endif %}
<h2>Pott: {{ pot }} SEK</h2>
<h2>{{ status }}</h2>
<form class="poker" action="{{ url("swap_card") }}" method="POST">
    <div class="card-grid">
    {% for key, card in player %}
        <div>
            {% if card.suite == "heart" or card.suite == "diamond" %}
                <div class="card red-card">{{card.getCardRep}}</div>
            {% else %}
                <div class="card black-card">{{card.getCardRep}}</div>
            {% endif %}
            {% if gameover == false %}
                {% if bet == false %}
                    <input type="checkbox" name={{key}} value={{key}}>
                {% endif %}
            {% endif %}
        </div>
    {% endfor %}
    </div>
    {% if gameover == false or bet == false %}
        {% if bet == false %}
        <div class="poker-input">
            <input class="poker-button swap-button" type="submit" value="Byt">
        </div>
        {% endif %}
    {% endif %}
</form>
{% if bet == true and gameover == false and round < 4 %}
    <form class="poker" action="{{ url("add_pot") }}" method="POST">
        <input class="poker-button" type="submit" value="Sätt in">
        <input class="pot" type="number" name="pot" min={{minPot}} max="1000" value={{minPot}}>
    </form>
{% endif %}
{% if gameover == true %}
    <form class="poker" action="{{ url("game_reset") }}" method="POST">
        <input class="poker-button" type="submit" value="Nytt">
    </form>
{% endif %}
<div class="poker">
    <div class="card-grid">
        {% if gameover == false %}
            {% for card in com %}
                <div class="card cover-card">🂠</div>
            {% endfor %}
        {% else %}
            {% for card in com %}
                {% if card.suite == "heart" or card.suite == "diamond" %}
                    <div>
                        <div class="card red-card">{{card.getCardRep}}</div>
                    </div>
                {% else %}
                    <div>
                        <div class="card black-card">{{card.getCardRep}}</div>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}